@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactCollapse--collapse {
  transition: height 500ms;
}
/* Range Slider */
input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  @apply bg-purple-500;
}

input[type="range"] {
  @apply bg-purple-800;
  -webkit-appearance: none;
  margin: 0;
}
